body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}
.logo {
    display: flex;
    background-color: #1F2937; 
    justify-content: space-between;
    color: white;
}
.container ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 30px;
}
.container a {
    text-decoration: none;
    color: white;
}
.container a:hover {
    color: red;
    transition: 0.3s;
}
.card{
    display: flex;  
    padding: 50px;
    background-color: #1F2937;
}
.content {
    font-size: 18px;
}
.image img {
    width: 250px;
    height: auto;    
    border-radius: 50px;
}
.media {
    display: flex;
    align-items: center;
    margin: auto;
}
 
.media.flipped {
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.media .content {
    flex: 1;
    padding: 10px;
    color: white;
    width: 250px
    
}
.button-up { 
    background-color: #3882f6; 
    border: none; 
    border-radius: 6px; 
    color: white;
    flex-grow: 1;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px; 
    height: 36px;
    width: 106px; 
    line-height: 20px; 
    margin-left: 8px;
    margin-right: 6px; 
    /*min-width: 150px;*/ 
    padding: 0 16px 0 16px; 
    transition: 0.3s; 
    cursor: pointer; 
    } 
    
.button-up:hover{
    background-color: #e4e6eb; 
    color: #050505; 
    font-size: 15px; 
    transition: 0.3s; 
    } 
    
.second-title {  
    display: flex;  
    font-size: 36px;
    font-weight: bold;
    background-color: white;    
    justify-content: center;
    padding: 20px;
    color: #1f2937;
}
.second {    
    background-color: white;
    display: flex;    
    gap: 20px;    
    color: #1f2937;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;    
}
.second img {
    border-radius: 10px;
}
.info {
    max-width: 100px;
  }
.second img {
    width: 100px;
    height: 100px;    
}
.third {
    display: flex;
    background-color: #e5e7e3;    
    justify-content: center; 
    font-style: italic;
}
.third .scribble {
    font-size: 15px;    
    padding: 50px;
    max-width: 320px;      
}
.third pre {
    font-family: italic;
}
.fourth {
    display: flex;
    background-color: white;
    padding: 80px;
    margin-bottom: 30px;
}
.action {
    display: flex;    
    background-color: #3882f6;
    padding: 40px;
    margin: auto;
    width: 500px;
    justify-content: space-between;          
}
.click {
    diplay: flex;
    color: white;
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
}
.button-down { 
    background-color: #3882f6; 
    border: 2px solid white; 
    border-radius: 6px; 
    color: white;
    flex-grow: 1;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px; 
    height: 36px;
    width: 106px; 
    line-height: 20px; 
    margin-left: 8px;
    margin-right: 6px; 
    /*min-width: 150px;*/ 
    padding: 0 16px 0 16px; 
    transition: 0.3s; 
    cursor: pointer; 
}
.button-down:hover{
    background-color: #e4e6eb; 
    color: #050505; 
    font-size: 15px; 
    transition: 0.3s; 
    } 
h3, p {
    margin: 0;
}
h2, p {
    margin: 0;
}
.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 10px;
    color: white;
}